.nav {
    transition: flex .3s;
    flex: .40;
    user-select: none;
}

.nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color .5s;
    color: #f0f0f0;
    text-decoration: none;
    outline: none;
    position: relative;
    height: 100%;
}

.nav-link:hover {
    transition: color .5s;
    color: #9ddf9a;
}

.nav-link:active, .nav-link:focus {
    color: #317d20;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #317d20;
    border-radius: 5px;
    transition: all .3s ease;
}