:root {
    --main: #317d20;
    --light-green: #9ddf9a;
    --full-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

.HP-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    background-color: var(--full-black);
    border-bottom: .1px outset #696363;
}

.HP-HeaderTitle {
    flex: .20;
    font-size: clamp(1rem, 20px, 2rem);
    font-weight: 600;
    color: var(--main);
}

.HP-Main {
    background-color: var(--full-black);
}

@media (max-width: 1080px) {
    .HP-Navbar {
        transition: flex .3s;
        flex: .35;
    }
}

@media (max-width: 840px) {
    .HP-Navbar {
        transition: flex .3s;
        flex: .40;
    }
}