* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

:root {
    --main: #d21e1e;
}

.element {
    opacity: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--main);
}

header button {
    flex: 1;
    border: 1px dotted;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--main);
    cursor: pointer;
}

header button:hover {
    filter: brightness(90%);
    transition: all 0.5s ease;
}

header button:not(:hover) {
    filter: brightness(100%);
    transition: all 0.5s ease;
}

button a {
    text-decoration: none;
    color: #000;
}

header h1 {
    flex: 40;
    text-align: center;
}

.index-main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.btn {
    max-width: 800px;
    min-width: 300px;
    height: 10vh;
    border: none;
    box-shadow: 0 0 10px #adabab;
    border-radius: 10px;
    cursor: pointer;
    font-size: clamp(1rem, 20px, 2rem);
    font-weight: 600;
    background-color: #7a8684;
    color: #f0f0f0;
    opacity: 0;
}

.btn:nth-child(odd) {
    background-color: #d21e1e;
}

.btn:nth-child(odd) a {
    color: #7a8684;
} 

.types-main, .attack-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-block: 20px;
}

#selectors, #attack-selector {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.selector, .attack-selector {
    border: 1px solid;
    border-radius: 10px;
    max-width: 800px;
    min-width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: #000;
    background-color: #f0f0f0;
}

.selector:hover, .attack-selector:hover {
    filter: brightness(80%);
    transition: filter 0.5s ease;
}

.selector:not(:hover), .attack-selector.selector:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.5s ease;
}

.options, .attack-options {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.options.show, .attack-options.show {
    max-height: 400px;
    opacity: 1;
}

@keyframes options-down {
    to {
        opacity: 1;
    }
}

.options li, .attack-options li {
    list-style: none;
    max-width: 800px;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
}

.options li:hover, .attack-options li:hover {
    filter: brightness(70%);
    transition: filter 0.3s ease;
}

.options li:not(:hover), .attack-options li:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.options li:first-child, .attack-options li:first-child {
    border-radius: 10px 10px 0 0;
}

.options li:last-child, .attack-options li:last-child {
    border-radius: 0 0 10px 10px;
}

#types-defense, #types-attack {
    width: 90vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px #a19f9f;
    box-decoration-break: clone;
    opacity: 0;
}

.types-row, .attack-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #000;
    border-bottom: none;
}

.types-row:first-child, .attack-row:first-child {
    border-radius: 15px 15px 0 0;
    border-bottom: none;
    background-color: #5c5a5a;
    color: #f0f0f0;
}

.types-row:last-child, .attack-row:last-child {
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #000;
}

.multipliyers {
    flex: 2;
    border-right: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #f0f0f0;
}

.types-row:nth-child(2) h3 { background-color: #df3232; }
.types-row:nth-child(3) h3 { background-color: #c5c823; }
.types-row:nth-child(4) h3 { background-color: #3cda2d; }
.types-row:nth-child(5) h3 { background-color: #2c72db; }
.types-row:nth-child(6) h3 { background-color: #bf2fe0; }
.types-row:nth-child(7) h3 { background-color: #171717; border-radius: 0 0 0 14px; }

.attack-row:nth-child(2) h3 { background-color: #c5c823; }
.attack-row:nth-child(3) h3 { background-color: #3cda2d; }
.attack-row:nth-child(4) h3 { background-color: #2c72db; }
.attack-row:nth-child(5) h3 { background-color: #171717; border-radius: 0 0 0 14px; }

.types, .attack-types {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    height: 100%;
}

.types p, .attack-types p {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    color: #f0f0f0;
    opacity: 0;
    transform-origin: left;
    transform: translate(-50px, 0);
}